.pageDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
}

.selections{
  margin-bottom: 10px;
}

.mainDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mainContent {
  max-width: 1000px;
}

@media (max-width:500px){
    .fieldDiv{
        width:300px;
    }

    .v-window-item{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .selections{
      width: 300px;
    
 
    }
    .v-window__container {
      display: flex;
      flex-direction: column;
      height: inherit;
      position: relative;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      align-items: center;
    }
      .bottomButtons[data-v-e2f0d1e4] {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .bottomButtons .v-btn[data-v-e2f0d1e4]{
    margin: 5px 0;
   }

}
